<section class="page-header">
  <img src="/assets/genie-lamp.png" alt="LaMP logo!" width="10%" height="auto">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="/index.html" class="btn">About</a>
  <a href="/download" class="btn">Download</a>
  <a href="/leaderboard" class="btn">Leaderboard</a>
  <a href="https://arxiv.org/abs/2304.11406" class="btn">Paper</a>
  <a href="/assets/citation.bibtex" class="btn">BibTeX</a>
  <a href="https://github.com/LaMP-Benchmark/LaMP" class="btn">View on GitHub</a>
</section>